.mail-details {
    min-height: 70vh;
}

.mail-details .subject {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.mail-details .from-fullName {
    margin-inline-end: 20px;
    font-weight: bold;
}

.mail-details .from-email {
    color: var(--color3);
}

.mail-details .to-fullName {
    margin-bottom: 30px;
}

.mail-details .body {
    min-height: 50vh;
}