.mail-preview {
    padding: 5px;
    border: 1px solid var(--color1);
    cursor: pointer;
}

.mail-preview>*:not(:last-child) {
    margin-inline-end: 10px;
}

.mail-preview>*:last-child {
   font-size: 0.9rem;
}

.mail-preview .mail-from-name,
.mail-preview .mail-to-name {
    min-width: 130px;
}

.mail-preview .mail-body,
.mail-preview .mail-date {
    color: var(--color3);
}

.mail-preview:hover {
    border: 1px solid var(--color2);
}

.read {
    background-color: #f5f5f5d1;
}

.un-read {
    background-color: white;
}