.mail-compose {
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px 3px whitesmoke;
    z-index: 30;
}

.mail-compose h4 {
    background-color: #212724;
    color: white;
    padding: 10px;
}

.mail-compose label {
    width: 100%;
    padding: 5px;
}

.mail-compose [name="to"] {
    border: 0;
    outline: none;
    border-bottom: 1px solid whitesmoke;
    width: 85%;
    padding: 5px;
}

.mail-compose [name="subject"] {
    border: 0;
    outline: none;
    border-bottom: 1px solid whitesmoke;
    width: 72%;
    padding: 5px;
}

.mail-compose [name="body"] {
    border: 0;
    outline: none;
    height: 300px;
    padding: 5px;
}

.mail-compose [name="to"]:active,
.mail-compose [name="subject"]:active,
.mail-compose [name="body"] {
    border: 0;
    outline: none;
}

.mail-compose .send,
.mail-compose .btn-remove {
    position: absolute;
    bottom: 10px;
}

.mail-compose .send {
    left: 10px;
}

.mail-compose .btn-remove {
    right: 10px;
}

.mail-compose .btn-remove img {
    height: 20px;
    width: 20px;
}