.mail-folder-list {
    margin-inline-end: 1vw;
}

.mail-folder-list .btn-compose {
    max-width: 110px;
    align-self: center;
    font-size: 1rem;
}

.mail-folder-list>*:not(:last-child) {
    margin-bottom: 20px;
}

.mail-folder-list ul a li {
    cursor: pointer;
    min-width: 15vw;
    padding: 3px;
    margin-bottom: 10px;
}

.mail-folder-list .active li {
    background-color: #ffe1e5;
    color: red;
    font-weight: bold;
    border-radius: 0 20px 20px 0;
}