@font-face {
    font-family: roboto;
    src: url(../../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-italic;
    src: url(../../fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(../../fonts/Roboto-Thin.ttf);
}

