.note-preview {
    break-inside: avoid;
    padding: 17px;
    margin-bottom: 7px;

    align-items: flex-start;
    justify-content: space-between;

    background-color: rgb(184, 184, 184);
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    transition: all 1s;

    font-size: large;
}

.note-info {
    min-height: 30px;
}

.note-preview:hover button {
    display: block;
}

.note-list {
    /* height: 50vh; */
    gap: 10px;
    column-fill: balance;
}

.devTools {
    margin-top: 10px;
    align-self: flex-end;
    height: 30px;
}

.devTools>* {
    margin-left: 8px;
}

.devTools>button {
    display: none;
    width: 30px;
    height: 30px;
}