.app-header {
    background-color: var(--color1);
    box-shadow: -13px 1px 0px whitesmoke;
    margin-bottom: 20px;
    font-size: 1.2rem;
    min-height: 10vh;
}

.header-container {
    min-height: 10vh;
}

nav a {
    margin: .5em;
    color: var(--color2);
}

nav a.active {
    color: var(--color3);
    font-weight: bold;
}

.app-header .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: 0;
    padding: 30px;
    box-shadow: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.app-header .toggle-menu {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 5px;
}