header {
    background: whitesmoke ;
    /* border-bottom: 2px solid whitesmoke; */
    box-shadow: -13px 1px 0px whitesmoke;
}

.app-header {
    padding: 20px;
}

nav a {
    margin: .5em;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}