.app-header {
    background-color: whitesmoke;
    box-shadow: -13px 1px 0px whitesmoke;
    padding: 25px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

nav a {
    margin: .5em;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
}