.user-msg {
    position: absolute;
    padding: 5px;
    bottom: 1em;
    left: 1em;
}

.user-msg.success {
    background-color: #212427;
    color: white;
}

.user-msg.error {
    background-color: red;
}

.user-msg button{
    float: right;
    margin-left: 5px;
}