/* mobile only  */
@media (max-width: 900px) {
    .main-layout>*:not(.full) {
        width: 100%;
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .note-list {
        column-count: 1;
    }

    .note-preview{
        width: 80vw;
    }
}

/* Mobile */
@media (min-width: 540px) {
    .main-layout>*:not(.full) {
        max-width: var(--small);
        margin: auto;
        padding: 10px;
    }

    .note-list {
        column-count: 2;
    }

    .note-preview{
        width: 40vw;
    }
}

/* Tablet */
@media (min-width: 820px) {
    .main-layout>*:not(.full) {
        max-width: var(--medium);
    }

    .mail-preview {
        flex-direction: row;
        align-items: center;
    }

    .note-list {
        column-count: 3;
    }

    .note-preview{
        width: 210px;
    }
}

/* Desktop */
@media (min-width: 1020px) {
    .main-layout>*:not(.full) {
        max-width: var(--large);
    }

    .note-list {
        column-count: 4;
    }

    .note-preview{
        width: 200px;
    }
}