/* mobile only  */
@media (max-width: 800px) {
    .main-layout>*:not(.full) {
        margin-right: 5px;
        margin-left: 5px;
    }

    .app-header nav {
        position: fixed;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        top: 0;
        right: 0;
        background-color: var(--color6);
        min-height: 100vh;
        min-width: 100vw;
        transition: transform .6s, box-shadow .6s;
        transform: translateX(100%);
        background-color: whitesmoke;
    }

    .app-header.menu-opened nav {
        transform: translateX(0);
    }

    .app-header .toggle-menu {
        display: unset;
    }

    .home .img-container {
        align-items: center;
    }

    .about .team-members {
        flex-direction: column;
    }


    .note-list {
        column-count: 1;
    }

    .note-preview {
        width: 80vw;
    }
}

/* Mobile */
@media (min-width: 540px) {
    .main-layout>*:not(.full) {
        max-width: var(--small);
        margin: auto;
        padding: 10px;
    }

    .home .img-container img {
        height: 100px;
        width: 100px;
    }

    .note-list {
        column-count: 2;
    }

    .note-preview {
        width: 40vw;
    }

}

/* Tablet */
@media (min-width: 820px) {
    .main-layout>*:not(.full) {
        max-width: var(--medium);
    }

    html {
        font-size: 14px;
    }

    .home .img-container {
        flex-direction: row;
    }

    .app-header .btn-close,
    .app-header .separate-line {
        display: none;
    }

    .mail-preview {
        flex-direction: row;
        align-items: center;
    }

    .note-list {
        column-count: 3;
    }

    .note-preview {
        width: 210px;
    }
}

/* Desktop */
@media (min-width: 1020px) {
    .main-layout>*:not(.full) {
        max-width: var(--large);
    }

    html {
        font-size: 16px;
    }

    .note-list {
        column-count: 4;
    }

    .note-preview {
        width: 200px;
    }
}